body {
  background: url("images/lista.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.lista-compras {
  background-color: rgba(240, 255, 240, 0.95);
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  color: #2a682a;
}


.filtros,
.adicionar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.filtros input,
.adicionar input,
.adicionar select {
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 150px;
}


#adicionar,
#btnLimpar {
  background-color: #2a682a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}


#btnLimpar {
  margin-top: 20px;
  width: 100%;
}


.categoria {
  margin-top: 20px;
}


.categoria h2 {
  color: #444;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}


.produto {
  background-color: #e3f2fd;
  border-left: 8px solid #2196f3;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.produto.riscado {
  text-decoration: line-through;
  opacity: 0.6;
}


.total {
  margin-top: 25px;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}
