body {
background-image: url("../imagens/CaminhoDaImagem.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}


.lista-compras {
  background-color: rgba(240, 255, 240, 0.95);
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  color: #2a682a;
}


.filtros,
.btnAdicionar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.filtros input,
.btnAdicionar input,
.btnAdicionar select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: 150px;
}


#btnAdicionar,
#btnLimpar {
  background-color: #2a682a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}


#btnLimpar {
  margin-top: 20px;
  width: 100%;
}

#btnAdicionar:hover, #btnLimpar:hover {
  background-color: #d32f2f;
  transition: background-color 0.2s ease;
}


.categoria {
  margin-top: 30px;
  padding: 15px;
  background-color: #f9f9f9;
  border-left: 5px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.categoria h2 {
  color: #2e7d32;
  margin-bottom: 10px;
  font-size: 1.3em;
}


.produto {
  flex-direction: column;
  background-color: #fff;
  border-left: 8px solid #81c784;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  transition: all 0.2s ease;
}
@media (max-width: 600px){
  .lista-compras {
    padding: 15px;
  }
  .filtros, .adicionar {
    flex-direction: column;
  }
}

.produto:hover {
  background-color: #f1f8e9;
  cursor: pointer;
}


.produto.riscado {
  text-decoration: line-through;
  opacity: 0.5;
}

select optgroup {
  font-weight: bold;
  color: #2e7d32;
  background-color: #e8f5e9;
}


.total {
  margin-top: 25px;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
}

.sugestoes {
  list-style: none;
  padding: 0;
  margin-top: -10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: calc(100% - 20px);
  z-index: 10;
}

.sugestoes li {
  padding: 10px;
  cursor:pointer;
}

.sugestoes li:hover {
  background-color: #f1f1f1;
}

.autocomplete.list {
  list-style: none;
  padding: 0;
  margin-top: -10px;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
  position: absolute;
  width: calc(100% - 20px);
  z-index: 10;
}

.autocomplete.list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete.list li:hover {
  background-color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../imagens/CaminhoDaImagem.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.tela {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  backdrop-filter: blur(4px);
  padding: 20px;
}
